
@{
	ViewBag.Title = "Home";
	var loggedInUser = (Data.Model.User)TempData["Employee"];
	TempData["Employee"] = loggedInUser;
	Data.Data.FlightContext flightContext = new Data.Data.FlightContext();
}

@{
	ViewBag.Title = "Home Page";
}

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Flight Manager</title>
	<link rel="stylesheet" type="text/css" href="~/Content/reset-css.css">
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body>
	<div class="container-fluid">
		<header>
			<nav class="navbar flightm-color">
				<a class="active" href="/Employee/Home">
					<img class="image" src="~/Content/logo1.png" width=10% height=18% />
				</a>
				<ul>
					<li> <a class="nac-link-dark" style="float:right; margin-right:20px; text-align:center">Welcome, @loggedInUser.FirstName</a></li>
					<li> <a class="active" href="/Home/Logout" style="float:right; margin-right:20px; text-align:center">Logout</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<!--<input type="text" id="searchBar" onkeyup="myFunction()" placeholder="Search..">-->
			<div class="jumbotron mt-3 flightm-color">
				<h1>All Flights</h1>
				<a class="active" href="/Employee/Reservation">Book a place</a>
				<hr class="bg-white" />
				<table width:"100%" id="myTable">
					<tr>
						<th>Id</th>
						<th>Departure</th>
						<th>Arrival</th>
						<th>Departure Time</th>
						<th>Flight Duration</th>
						<th>Airplane</th>
						<th>Airplane Id</th>
						<th>Pilot Name</th>
						<th>Economy Places Free</th>
						<th>Business Places Free</th>
						<th>Flight Details</th>
					</tr>

					@foreach (var flight in flightContext.Flights)
					{
						<tr>
							<td>@flight.Id</td>
							<td>@flight.FromLocation</td>
							<td>@flight.ToLocation</td>
							<td>@flight.DepartureTime</td>
							<td>@(flight.ArrivalTime - flight.DepartureTime)</td>
							<td>@flight.AirplaneType</td>
							<td>@flight.AirplaneId</td>
							<td>@flight.PilotName</td>
							<td>@flight.UnusedPlacesEconomy</td>
							<td>@flight.UnusedPlacesBusiness</td>
							<td>
								<a class="active" href="/Employee/FlightDetails/@flight.Id">Details</a>
							</td>
						</tr>

					}
				</table>

			</div>
		</main>
	</div>
</body>

