@model Data.Model.Flight

@{
    ViewBag.Title = "RemoveFlight";
    var loggedInUser = (Data.Model.User)TempData["Admin"];
    TempData["Admin"] = loggedInUser;
    Data.Data.UserContext userContext = new Data.Data.UserContext();
    Data.Data.FlightContext flightContext = new Data.Data.FlightContext();
    Data.Data.ReservationContext reservationContext = new Data.Data.ReservationContext();
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Flight Manager</title>
    <link rel="stylesheet" type="text/css" href="~/Content/reset-css.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="jssheet" href="~/Content/script.js">
</head>

<body>
    <div class="container-fluid">
        <header>
            <nav class="navbar flightm-color">
                <a class="active" href="/Admin/Home">
                    <img class="image" src="~/Content/logo1.png" width=10% height=18% />
                </a>
                <ul>
                    <li> <a class="nac-link-dark" style="float:right; margin-right:20px; text-align:center">Welcome, @loggedInUser.Username!</a></li>
                    <li> <a class="active" href="/Home/Logout" style="float:right; margin-right:20px; text-align:center">Logout</a></li>
                </ul>
            </nav>
        </header>

        <div class="jumbotron mt-3 flightm-color">
            <hr />
            <h1> Delete this flight?</h1>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FromLocation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FromLocation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ToLocation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ToLocation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DepartureTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DepartureTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ArrivalTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AirplaneType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AirplaneType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AirplaneId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AirplaneId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PilotName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PilotName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UnusedPlacesEconomy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UnusedPlacesEconomy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UnusedPlacesBusiness)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UnusedPlacesBusiness)
                </dd>

            </dl>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
         </div>
            
    </div>
</body>

